@import url(
  'https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Condensed'
);

// colors
$gold: #B6A05D;
$grey: #F7F7F7;

// reset

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: $gold;
  margin: 0;

  .noScroll {
    overflow: hidden;
  }
}

body.noScroll { /* ...or body.dialogShowing */
  overflow: hidden;
}

// forms

button {
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid $gold;
  background: none;
  color: $gold;
  text-transform: uppercase;
  padding: 15px 20px;
  letter-spacing: 1px;

  &:hover {
    cursor: pointer;
  }

  &.filled {
    color: white;
    background: $gold;
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-around;

  button {
    min-width: 130px;
    flex: auto;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

// reused

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  display: flex;
  z-index: 9;

  &.white {
    background: white;
    color: $gold;
  }
}

// animations

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
